daemon_sleep_time = 10
worker_sleep_time = 2
email_recipients = alex.waldrop@duke.edu, tushar.dave@duke.edu

[db_helper]
	database = AnalysisDB_Test
	host = 104.196.195.156
	mysql_driver = mysql+pymysql
	username = alex
	password = j%*Ck22ZkDd=F2q=

[pipeline_queue]
	max_cpus = 2048

[report_queue]
	report_sub = pipeline_reports
	report_topic = pipeline_reports

[platform]
	zone = us-east1-c
	nr_cpus = 2
	mem = 8
	disk_image = cc-runner-image
	service_account_key_file = /new/path/to/key/file
	cc_url = https://github.com/labdave/CloudConductor.git

[email_reporter]
	recipients = alex.waldrop@duke.edu, tushar.dave@duke.edu
	sender_address = davelab.gap.daemon@gmail.com
	sender_pwd = DavelabRocks
	host = smtp.gmail.com
	port = 587